<div class="jumbotron">
  <h1 class="display-4">Hello, this is my example site created using Angular!</h1>
  <hr class="my-4">
  <p class="lead">You can find navigation bar in the upper right corner of the website, feel free to browse it!
    This is my first website created using Google technology.</p>
  <hr class="my-4">
  <p>An example of a link is shown below. If you click on the button it will take you to the posts page.</p>
  <a class="btn btn-primary btn-lg" [routerLink]="['/','posts']" role="button">Go to posts</a>
</div>
